/Main/Model/test_save/test_save_1NetD.pth
/Main/Model/test_save/test_save_1NetD.pth
/Main/Model/test_save/test_save_1NetG.pth
/Main/Model/test_save/test_save_2NetD.pth
/Main/Model/test_save/test_save_2NetG.pth
/Citations/Oxford_HIC/data/Oxford_HIC-20240905T184435Z-001.zip
/Data/Oxford_HIC/oxford_img/
/Data/Oxford_HIC/Original_File/
/Data/Oxford_HIC/oxford_img/
/Data/Oxford_HIC/Original_File/
/Data/Oxford_HIC/ImageData
/Main/Model/
/Data/Oxford_HIC/ImageList/Image1_oxford_hic_data.csv
/Data/Oxford_HIC/ImageList/Image2_oxford_hic_data.csv
/Data/Oxford_HIC/ImageList/Image3_oxford_hic_data.csv
/Data/Oxford_HIC/ImageList/Image4_oxford_hic_data.csv
/Data/Oxford_HIC/Caption1_oxford_hic_data.csv
/Data/Oxford_HIC/Caption2_oxford_hic_data.csv
/Data/Oxford_HIC/Caption3_oxford_hic_data.csv
/Data/Oxford_HIC/Caption4_oxford_hic_data.csv
/Data/Oxford_HIC/Filtered_oxford_hic_data.csv
/Data/Oxford_HIC/Image1_oxford_hic_data.csv
/Data/Oxford_HIC/Image_index_oxford_hic_data.csv
/Data/Oxford_HIC/oxford_hic_data.csv
