/Main/Model/test_save/test_save_1NetD.pth
/Main/Model/test_save/test_save_1NetD.pth
/Main/Model/test_save/test_save_1NetG.pth
/Main/Model/test_save/test_save_2NetD.pth
/Main/Model/test_save/test_save_2NetG.pth
/Citations/Oxford_HIC/data/Oxford_HIC-20240905T184435Z-001.zip
/Data/Oxford_HIC/oxford_img/
/Data/Oxford_HIC/Original_File/
/Data/Oxford_HIC/oxford_img/
/Data/Oxford_HIC/Original_File/
/Main/Model/
