Data/Oxford_HIC/oxford_hic_data.csv filter=lfs diff=lfs merge=lfs -text
Data/Oxford_HIC/Filter_oxford_hic_data.csv filter=lfs diff=lfs merge=lfs -text
Data/Oxford_HIC/Original_File/ filter=lfs diff=lfs merge=lfs -text
Data/Oxford_HIC/Original_File/oxford_hic_data.csv filter=lfs diff=lfs merge=lfs -text
Data/Oxford_HIC/Original_File/oxford_hic_data_removeEmptyCaption.csv filter=lfs diff=lfs merge=lfs -text
Citations/Oxford_HIC/data/Oxford_HIC-20240905T184435Z-001.zip filter=lfs diff=lfs merge=lfs -text
